<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/join.js"></script>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/common.js"></script>
    <title>POLAROID</title>
</head>
<style>
    /*td{*/
    /*    vertical-align: middle;*/
    /*}*/

    /*.member_img_box {*/
    /*    width: 10%;*/
    /*    margin: 0 auto;*/
    /*    overflow:hidden;*/
    /*    position:relative;*/
    /*}*/

    /*.member_img {*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    object-fit:cover;*/
    /*}*/

    body {
        background-color: #f9f6f8;
    }
</style>
<body>
<!-- header -->
<div class="header">
    <div class="max_box_2 vertical_box">
        <div class="header_logo vertical_mid">
            <img class="header_logo_img" src="/image/logo_white.png" onclick="location.href='/'" />
        </div>
        <div class="header_search_box vertical_mid">
            <input class="header_search_input fs_16" id="keyword" type="text" placeholder="Search" />
            <div class="header_search_btn">
                <button onclick="tagSearch()">
                    <img class="header_search_btn_img" src="/image/search.png"/>
                </button>
            </div>
        </div>
        <div class="header_right vertical_mid" >
            <div class="dis_flex header_right_box" th:if="${session['LoginEmail']} != null">
                <!-- 채팅 -->
                <div class="header_chat_box flex-grow-1">
                    <div class="header_chat ">
                        <img class="far fa-envelope icon-badge-icon header_chat_img" src="/image/chat.png" onclick="location.href='/chat'"/>
                        <div class="icon-badge" th:if="${member.memberMessage>0}"><p th:text="${member.memberMessage}"> </p></div>
                    </div>
                </div>
                <!-- 좋아요 모아보기 -->
                <div class="header_like flex-grow-1">
                    <img class="header_like_img" src="/image/like.png" onclick="location.href='/member/likeListShow'"/>
                </div>
                <!-- 사용자 정보 -->
                <div class="header_user flex-grow-1" id="userToggleButton">
                    <img class="header_user_img" th:src="@{|/profile/${member.memberFilename}|}"/>
                </div>
            </div>
            <div class="header_user_toggle_box" id="userToggleMenu">
                <input class="header_user_toggle_btn fs_14" type="button" value="마이페이지" onclick="location.href='/member/mypage'"/>
                <input class="header_user_toggle_btn fs_14" type="button" value="SNS" onclick="location.href='/board/'"/>
                <input class="header_user_toggle_btn fs_14" type="button" value="결제리스트" onclick="location.href='/goods/payList'"/>
                <input class="header_user_toggle_btn fs_14" type="button" value="내 쇼핑몰" th:if="${member.memberRole == 'ROLE_SELLER'}" th:onclick="'location.href=\''+ @{|/goods/list/${session.LoginNumber}|} + '\''"/>
                <button type="button" class="header_user_toggle_btn fs_14" id="show" data-bs-toggle="modal" data-bs-target="#exampleModal">로그아웃</button>
            </div>
        </div>
    </div>
</div>

<!-- 로그아웃 모달창 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p_30 bg_ef">
            <div class="modal-body fs_16 text_center fw_b">
                로그아웃 하시겠습니까?
            </div>
            <div class="modal-footer border_none modal_btn_box">
                <button type="button" class="btn btn-secondary flex-grow-1 bg_ccc logout_modal_btn logout_modal_btn_cancel" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary flex-grow-1 bg_524A4E logout_modal_btn logout_modal_btn_okay" onclick="modalLogout()">로그아웃</button>
            </div>
        </div>
    </div>
</div>
<!-- 로그아웃 모달창 -->
<!-- header -->

<div class="contents">
    <div class="pt_60 mx-auto" style="width: 80%" >
        <div class="container" style="border: 1px solid #ede1e7; background-color: #fff">
            <tr th:each = "chatRoom:${chatRooms}">
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <div class="header_user_img_chatting_box">
                            <a th:href="@{|/memberDetail/${chatRoom.member.id}|}">
                                <img class="header_user_img_chatting" th:src="@{|/profile/${chatRoom.member.memberFilename}|}">
                            </a>
                        </div>
                        <h3 class="my-auto" th:text = "${chatRoom.writer}"></h3>
                    </div>
                    <div class="my-auto mx-auto">
                        <span style="font-size: 20px" th:text = "${chatRoom.lastMessage}"></span>
                        <span class="translate-middle p-2 bg-danger border-light rounded-circle" th:if="${chatRoom.messageNotice != 0}" th:text="${chatRoom.messageNotice}" style="color: white;width: 25px; height: 25px; margin-left: 30px"></span><br>
                        <span th:text="${#temporals.format(chatRoom.time, 'MM-dd HH:mm')}"></span>
                    </div>
                    <div class="my-auto">
                        <form class = "form-signing" action = "/chat/newChat" method = "POST" onsubmit = "return nameChk();">
                            <a class="long_btn_2 pull-right" style="font-size: 20px; margin-right: 30px" th:href = "@{/personalChat/{id} (id = ${chatRoom.id})}" onclick="window.open(this.href, '_blank', 'width=500, height=400, toolbars=no, menubar=no,scrollbars=no'); return false;">입장</a>
                        </form>
                    </div>
                </div>
                <hr>
            </tr>
        </div>
    </div>
</div>
</body>

<th:block layout:fragment="script">
    <script th:inline = "javascript">
        /* <![CDATA[*/
        var id = /*[[${userId}]]*/;
        /* ]]> */
        function mypage(){
            if(id == 0){
                alert("로그인 후 이용해주세요");
            }
            else{
                window.location.href = "/users/myPage/" + id;
            }
        }
        /* <![CDATA[*/
        var nickname = /*[[${nickname}]]*/;
        /* ]]> */
        var stompClient = null;
        connect();
        function connect() {
            var socket = new SockJS('/chat');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function () {
                stompClient.subscribe('/topic/' + nickname, function (e) {
                    if(e.body.toString() == "notice"){
                        alertClosing('noticeCome',2000);
                    }
                    else{
                        alertClosing('comeMessage',2000);
                    }
                });
            });
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
        }
        window.onbeforeunload = function(e){
            disconnect();
        }

        function alertClosing(selector, delay){
            document.getElementById(selector).style.display = "block";
            window.setTimeout(function(){
                document.getElementById(selector).style.display = "none";
            },delay);
        }
        function logout(){
            $("#pop").modal();
            document.getElementById("y").onclick = function(){
                window.location.href="/logout";
            }
            document.getElementById("n").onclick = function(){
                $("#pop").modal("hide");
            }
        }
        $(function(){
            $("#receiver").autocomplete({
                source : "autocomplete",
                autoFocus : true,
                delay : 100,
                select: function( event, ui ) {
                    // 만약 검색리스트에서 선택하였을때 선택한 데이터에 의한 이벤트발생
                    this.value = ui.item.value;
                    $("#receiver").val(ui.item.value);
                    return false;
                }
            });
        })
        function nameChk(){
            var flag = false;
            $.ajax({
                type:'GET',
                url: '/users/nameChk/' + $("#receiver").val(),
                contentType: 'application/json; charset=utf-8',
                async: false
            }).done(function(e){
                if(e == "success"){
                    console.log(e);
                    flag = true;
                }
                else {
                    flag = false;
                    alertClosing("nameMessage",2000);
                }
            }).fail(function(e){
                flag = false;
                alertClosing("failMessage",2000);
            })
            return flag;
        }
        function notice(){
            if(nickname == ""){
                noticeList = document.getElementById("noticeList");
                noticeList.innerHTML = "";
            }
            else {
                $.ajax({
                    type:'GET',
                    url: '/users/notice',
                    data : {name : nickname},
                    dataType : 'json',
                    contentType: 'application/json; charset=utf-8',
                }).done(function(e){
                    console.log(e);
                    noticeList = document.getElementById("noticeList");
                    noticeList.innerHTML = "";
                    for(var i= 0; i< e.link.length;++i){
                        noticeList.innerHTML = "<li><strong>" + e.content[i] + "</strong><br><small>" + dateParse(e.time[i])+ "</small> <button class = 'btn btn-default' onclick=goLink('" +  e.link[i] + "');>이동</button></li><hr>" + noticeList.innerHTML;
                    }
                }).fail(function(e){
                    alert("잠시 후 시도해주세요");
                })
            }

        }
        function dateParse(e){
            str = e.substring(0,4) + "-" + e.substring(5,7) + "-" + e.substring(8,10) +" " + e.substring(11,19);
            return str;
        }
        function goLink(e){
            window.location.href = e;
        }
    </script>
</th:block>
</html>